
@font-face {
    font-family: 'azonixregular';
    src:url('webfont/azonix-webfont.woff2') format('woff2'),
        url('webfont/azonix-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}
/* CSS code for dark theme */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'azonixregular', Arial;
    padding: 0;
}

/* Add cool elements and lights */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('path/to/cool-background-image.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s ease;
    margin-top: -8%;
}

.links {
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
}

.link {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: black;
    text-decoration: none;
    text-shadow: white 0.2px 0.2px 5px;
}

.link:hover {
    transform: scale(1.1);
    color: white;
    text-size-adjust: scale(1.1);
    text-shadow:rgba(216, 219, 16, 0.945) 0.2px 0.2px 8px;
    animation: fadeIn 1s ease;
}

/* Add JavaScript animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated {
    animation: fadeIn 1s ease;
}

body {
background: radial-gradient(to top, #000000, #333333);
background: radial-gradient(ellipse at top, #333333, #000000);
background: radial-gradient(ellipse at bottom,#333333, #000000);
background: radial-gradient(ellipse at top, #333, #000000);
background: radial-gradient(ellipse at bottom, #333333, #000000);

animation: alternate-reverse 1s ease;

}


@media (max-width: 767px) {
  .title {
    text-align: center;
  }
  
}

@media (max-width: 767px) {
  .links {
    justify-content: center;
  }
  .link {
    display: block;
    width: 100%;
    text-align: center;
  }

}


